/* @tailwind comopnents; */
a {
    padding: 0.5rem 0.6rem;
    align-items: center;
}
a:hover {
    background-color: #c1001752;
    border-radius: 15px;
    margin-right: 2px;
}
#navbar-menu {
    overflow-y: auto;
    max-height: 37rem;
    position: relative;
    z-index: 3;
    width: 241px;
}
#navbar {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#content-user {
    /* margin-top: auto; */
    margin-top: 0.5rem  ;
    margin-bottom: 1rem;
}
hr {
    border: none;
    height: 1px;
    background-color: #7D7D7D;
    margin: 6px 0;
}
#navbar > hr:nth-child(3) {
    margin-top: auto;
}
#navbar > hr:nth-child(5) {
    margin-bottom: 1rem;
}
/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #222;
}
::-webkit-scrollbar-thumb {
    /* background: linear-gradient(180deg, #B40425, #93031F1); */
    background: #93031F;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #cd2141;
    box-shadow: 0 0 6px rgba(255, 77, 109, 0.6);
}