a {
    padding: 0.5rem 0.6rem;
    align-items: center;
}
a:hover {
    background-color: #c1001752;
    border-radius: 15px;
}
#navbar {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
#content-user {
    margin-top: auto;
    margin-bottom: 1rem;
}
hr {
    border: none;
    height: 1px;
    background-color: #7D7D7D;
    margin: 6px 0;
}
#navbar > hr:nth-child(3) {
    margin-top: auto;
}
#navbar > hr:nth-child(5) {
    margin-bottom: 1rem;
}