/* TEMAS GENERALES */
:root {
    --color-primario-font: #3498db;
    --color-secundario-font: #2ecc71;
}
/* ELEMENTOS GENERALES */
.btn {
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid;
    cursor: pointer;
}

.btn_success {
    color: aliceblue;
    background-color: #4CAF50;
    /* transition: all 0.3s ease-in-out; */
}

/* #container-form {
        } */
/* ELEMENTOS DE LA PÃGINA ACTUAL */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

input {
    padding: .375rem .75rem;
}

.background {
    background-image: url('./../images/background-login1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* filter: blur(1px); */
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    /* Hereda la imagen de fondo del contenedor */
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    filter: blur(5px);
    /* Aplica el desenfoque solo al pseudo-elemento */
    z-index: -1;
}

#content-form {
    width: fit-content;
    width: 30rem;
    animation: fadeInScale 0.5s ease-in-out;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#header-form {
    color: white;
    opacity: 0.6;
    /* font-weight: 300; */
    height: 8.5rem;
    font-weight: bold;
    background-color: #77797a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-form p:nth-child(1),
#header-form p:nth-child(2) {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#header-form p:nth-child(1) {
    font-size: 26px;
}

#header-form p:nth-child(2) {
    font-size: 16px;
}

#formLogin {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    /* width: 20rem; */
    opacity: 10;
    background-color: aliceblue;
    height: 14.2rem;
    padding: 1rem;
}

#formLogin div:nth-child(1),
#formLogin div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

#formLogin>div:nth-child(1)>svg {
    width: 2rem;
    height: auto;
}

#formLogin>div:nth-child(2)>svg {
    width: 2.5rem;
    height: auto;
}

#formLogin input[type=email]:nth-child(1),
#formLogin input[type=password]:nth-child(2) {
    height: 2.8rem;
}

#formLogin div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}

#btnLogin:hover {
    transform: scale(1.05);
    /* Agrandar un poco */
    background: linear-gradient(90deg, #34a853, #1e7e34);
    /* Degradado verde */
}